.preloader {
  @extend %cover;
  @extend %center;

  display: none;
  background-color: $color-contessa;
  color: $color-quarter-spanish-white;
  text-align: center;
  z-index: z('preloader');
}

.preloader__text {
  @extend %title-53;

  max-width: 66rem;
}

.preloader__number {
  @extend %description-14;

  bottom: 7.3rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  @include media('<phone') {
    font-size: 2.4rem;
  }
}

